<div class="container-fluid">

  <div class="row">

    <div class="col-md-6">
      <h2 class="text-center"> Notes </h2>
      <ul class="list-group">
        <li class="list-group-item"  *ngFor="let n of notes" (click)="viewNote(n)" > {{n.id}} - {{n.title}} </li>
      </ul>
      <a class="btn btn-primary btn-block mt-2 text-light" (click)="addNote()"> New Note </a>
      <div *ngIf="deleteButton">
          <a class="btn btn-danger btn-block mt-2 text-light" (click)="deleteNote()"> Delete Note </a>
      </div>
    </div>  

    <div class="col-md-6">
      <div *ngIf="showForm">

       <h2 class="text-center"> New Note </h2>
       <input type="text" placeholder="title of note" class="form-control" [(ngModel)]="note.title" />
       <textarea class="form-control mt-2" placeholder=" Note of Body" cols="30" rows="5" [(ngModel)]="note.description">
        
       </textarea>

        <div class="row mt-2">

          <div class="col-md-6">
              <a class="btn btn-primary btn-block text-light" (click)="saveNote()"> Save Note </a>
          </div>

          <div class="col-md-6">
              <a class="btn btn-light btn-block " (click)="cancelNote()"> Cancel </a>
          </div>

        </div> 
  
      </div>  
   </div>  
 
  </div> 
</div>

